<!DOCTYPE HTML PUBLIC "-//W3C/DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>GitHub OAuth API Sample</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-web-app-capable" content="yes"/>

<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<style type="text/css">
html, body{
  text-align: center;
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}
</style>
<script>
$(function(){
  $.ajax({
    url: './api/isLoggedIn',
    type: 'GET',
    success: function( result ){
      $('#login_btn').css( 'display', 'none' );
    },
    error: function( e0, e1, e2 ){
      $('#logout_btn').css( 'display', 'none' );
      $('#me_btn').css( 'display', 'none' );
      $('#repos_btn').css( 'display', 'none' );
      $('#files_btn').css( 'display', 'none' );
      $('#merge_btn').css( 'display', 'none' );
      $('#push_div').css( 'display', 'none' );
    }
  });
});

function my_login(){
  location.href = './api/login';
}

function my_logout(){
  $.ajax({
    url: './api/logout',
    type: 'POST',
    success: function( result ){
      location.href = './';
    },
    error: function( e0, e1, e2 ){
      $('#info').html( e0 + e1 + e2 );
    }
  });
}

function my_info(){
  $.ajax({
    url: './api/me',
    type: 'GET',
    success: function( result ){
      $('#info').html( JSON.stringify( result, null, 2 ) );
    },
    error: function( e0, e1, e2 ){
      $('#info').html( e0 + e1 + e2 );
    }
  });
}

function my_repos(){
  $.ajax({
    url: './api/repos',
    type: 'GET',
    success: function( result ){
      $('#info').html( JSON.stringify( result, null, 2 ) );
    },
    error: function( e0, e1, e2 ){
      $('#info').html( e0 + e1 + e2 );
    }
  });
}

function my_files(){
  $.ajax({
    url: './api/files',
    type: 'GET',
    success: function( result ){
      //$('#info').html( JSON.stringify( result, null, 2 ) );
      var ul = '<ul>';
      result.forEach( function( f ){
        var path = f.path;
        var url = f.url;
        var li = '<li><a target="_blank" href="./api/file?filename=' + path + '&apiurl=' + url + '">' + path + '</a></li>';
        ul += li;
      });
      ul += '</ul>';
      $('#info').html( ul );
    },
    error: function( e0, e1, e2 ){
      $('#info').html( e0 + e1 + e2 );
    }
  });
}

function my_merge(){
  if( confirm( 'main ブランチにマージしますか？' ) ){
    $.ajax({
      url: './api/merge',
      type: 'POST',
      success: function( result ){
        $('#info').html( JSON.stringify( result, null, 2 ) );
      },
      error: function( e0, e1, e2 ){
        $('#info').html( e0 + e1 + e2 );
      }
    });
  }
}
</script>
</head>
<body>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">GitHub OAuth API Sample</a>
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="navbar-nav" id="navbar">
    <button class="btn btn-primary" id="login_btn" onClick="my_login();">login</button>
    <button class="btn btn-primary" id="logout_btn" onClick="my_logout();">logout</button>
  </ul>
</nav>

<div class="container">
  <button class="btn btn-success" id="me_btn" onClick="my_info();">me</button>
  <button class="btn btn-success" id="repos_btn" onClick="my_repos();">repos</button>
  <button class="btn btn-success" id="files_btn" onClick="my_files();">files</button>
  <button class="btn btn-danger" id="merge_btn" onClick="my_merge();">merge</button>
  <div id="push_div">
    <form name="form0" id="form0" action="./api/file" method="post" enctype="multipart/form-data">
      <input type="file" id="push_file" name="file" class="form-control"/>
      <input type="submit" class="btn btn-success" value="push"/>
    </form>
  </div>
</div>

<div class="container" id="info">
</div>

</body>
</html>
